* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efe9e6;
}

.menu {
    width: 100%;
    background-color: #fafafa;
    height: 3rem;

}

.title {
    width: 100%;
    height: 3rem;
    background-color: #8f7d5e;
    margin-top: 1.5rem;
}

.bethel {
    text-align: center;
    color: #fafafa;
    padding: .7rem;
}

.main_section img {
    width: 100%;
    position: relative;
    z-index: 1;
}

.main_section h3 {
    position: relative;
    top: -3rem;
    z-index: 2;
    right: -.5rem;
    color: #fafafa;
    
}

.main_section button {
    position: relative;
    top: -5rem;
    z-index: 2;
    right: -24rem;
    color: #fafafa;
    border-radius: 6%;
    border: none;
    width: 4.5rem;
    height: 2.5rem;
}

button p {
    color: #1e1e1e;
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 350px 200px;
    grid-template-areas: 
    "scripture scripture"
    "sunday thrusday";
    
    
}

.scripture {
    grid-area: scripture;
    background-color: #fafafa;
    /* width: 400px;
    height: 300px; */
    

}

.sunday_service {
    grid-area: sunday;
    

}

.sunday_service, .join {
    background-color: #8f7d5e;
    /* height: 80px; */
}

.sunday_service, .time {
    background-color: #fafafa;
    /* height: 80px; */
}

.thursday_service {
    grid-area: thrusday;
    
}

.thursday_service, .join {
    /* height: 80px; */
}